{% extends 'base.html' %}

{% block content %}

<h2>About us</h2>
<p>Welcome to Jiseme Africa, a dedicated platform committed to supporting mental well-being in communities across
    Africa. We believe that everyone deserves access to mental health resources and the opportunity to live a balanced,
    fulfilling life.</p>
<hr>
<h4>Our Mission</h4>
<p>To make mental health care accessible, compassionate, and stigma-free for individuals and communities. We aim to
    break down barriers and provide a supportive, inclusive space where people feel empowered to seek help.</p>
<hr>
<h4>Our Approach</h4>
<p>We take a holistic approach to mental health support, offering resources, tools, and professional guidance tailored
    to
    meet diverse needs. Our platform connects individuals with licensed mental health professionals, curated resources,
    and
    a community dedicated to mental health advocacy.</p>
<hr>
<h4>Why We Exist</h4>
<p>Mental health challenges can often feel isolating. At Jiseme Africa, we are dedicated to fostering connections,
    raising awareness, and creating a culture of empathy. We are passionate about supporting our users on their journey
    to mental wellness, one step at a time.</p>
<hr>

{% endblock %}