{% extends 'base.html' %}

{% block content %}
<!-- Home page content goes here -->
<div class="hero-section">
    <div class="hero-text">
        <h1>Finding <span>Your Own Way</span></h1>
        <h3>Mindful Living</h3>
        <p>Mindfulness teaches us to live in the present moment, <br>
            to develop acceptance,to cultivate compassion and to find <br>
            more joy and peace</p>
        <button type="button" class="btn btn-success">Success</button>
        <button type="button" class="btn btn-success">Success</button>

    </div>
    <div class="hero-image">

        <img src="images/bg.jpg" alt="">

    </div>
</div>

<section class="about-us">
    <h5>What we do/</h5>

</section>

<!-- Additional content specific to home.html -->
{% endblock %}