{% include 'base.html' %}

{% block content %}

<h4>Mental health suport resourses</h4>

{% for resource in resources %}

<div class="card mt-5 d-flex  flex-wrap justify-content-center" style="width:400px">
    <img class="card-img-top" src="img_avatar1.png" alt="resource image">
    <div class="card-body">
        <h4 class="card-title">{{ resource.title }}</h4>
        <p class="card-text"> {{ resource.content }}</p>
        <p class="card-date">{{resource.created_at}}</p>
        <a href="#" class="btn btn-primary">Read details</a>
    </div>
</div>



{% endfor %}

{% endblock %}